:root {
  --icon-color: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
.header > div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 0px;
}
.logo-dark {
  color: #2e2f42;
}
.logo-bright {
  color: #f4f4fd;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation {
  display: flex;
  align-items: center;
}
.page-list {
  display: flex;
  gap: 40px;
}
.page-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current-page {
  color: #404bbf;
  position: relative;
}
.current-page::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.page-link:hover,
.page-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.address a:hover {
  color: #404bbf;
}
.address a:focus {
  color: #404bbf;
}
.distribution {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
  color: #ffffff;
}
.hero-section {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpeg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.distribution-caption {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.distribution-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.distribution button:hover,
.distribution button:focus {
  background-color: #404bbf;
}
.section {
  padding: 120px 0;
}
.goal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.goal-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.goal-item {
  width: calc((100% - 3 * 24px) / 4);
}
.goal-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.goal-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-caption {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.shadow-border {
  padding: 32px 0;
  background-color: #ffffff;
}
.border {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.team-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a.socials-link:focus {
  background-color: #404bbf;
}
.socials-link:hover {
  background-color: #404bbf;
}
.socials-item > a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-svg {
  fill: #f4f4fd;
  justify-content: center;
}
.portfolio-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover p {
  transform: translateY(0%);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.info-screen {
  position: relative;
  overflow: hidden;
}
.info-screen-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer div.container {
  display: flex;
  align-items: baseline;
}
.footer-first-section {
  margin-right: 120px;
}
.footer-socials-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-socials-link:hover {
  background-color: #31d0aa;
}
.footer-socials-link .footer-svg {
  fill: var(--icon-color);
}
